.AllCompanies{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*margin: 15px;*/
    /*justify-content:space-between;*/
    /*flex-wrap: wrap;*/
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    padding: 20px;
}
.AllCompanies .CompanyInAdmin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*justify-content:space-between;*/
    padding: 10px;
    gap: 15px;

}
.AllCompanies .company{
    background-color: #b0ceff;
    padding: 10px;

}
.AddButton{
    text-align: center;
    width: 100%;
    margin: 15px;
    margin-bottom: 30px;
}

