.Header {
    text-align: center;
    font-size: 40px;
    font-family: "Book Antiqua";
    color: black;
    /*background-color: ;*/

    /*background-image: linear-gradient(to right,  #b0ceff, #ff8dfc);*/
    background-image: url("../../../assets/images/Bl0ssoms2.png") ;



}
