.Layout main{
    background-image: url("../../../assets/images/background1.png") ;
    background-repeat:no-repeat ;
    background-size: cover;
    min-height: 600px;
}
.Layout nav {

}


.Toastify__toast-theme--light.Toastify__toast--success {
    background-color: lightgreen;
}

.Toastify__toast-theme--light.Toastify__toast--error {
    background-color: red;
    color: white;
}
/*.Layout>header, .Layout>footer{*/
/*    grid-column: span 2;*/
/*}*/

