.Login {
    text-align: center;

}
.Login .MuiFormControl-root{
    margin: 15px;

}
.Login .loginForm{
    border: solid 2px purple;
    border-radius: 10%;
    padding: 15px;
    opacity: 0.8;
    background-color: #b0ceff;


}
