.CatHeadline {
    width: 100%;
    text-align: left;

}
.ListOfCoupons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
