.Navbar{
        /*background-image: linear-gradient(to right,  #b0ceff, #ff8dfc);*/
        /*background-image: url("../../../assets/images/Blos1.png") ;*/
        background-color: #47ab8a;
        padding-left: 20px;


}
.Navbar .navlink {
        padding: 20px;
        text-decoration: none;
        font-size: 20px;
        font-family: "Bookman Old Style";
        height: 5em;
        width: 5em;


}

.navlink.transitioning{

}
.Navbar .navlink:visited{
        color: blue;
  }
.navlink.active, .navlink:active {
        color: lightgreen!important;
}
.Navbar .navlink:hover{
        /*font-size: 25px;*/
        color: yellow;
}
.Navbar #welcomeUser{
        padding: 20px;
        padding-top: 4px;
        font-size: 20px;
        font-family: "Bookman Old Style";
        border-bottom: solid 1px rebeccapurple ;

}
